.results-td {
    vertical-align: top;
}

.hidden {
    display: none;
}

.loading-message {
    display: none;
}
.loading button[type="submit"] {
    display: none;
}
.loading .loading-message {
    display: block;
}

.gritty {
    background: rgba(255, 100, 100, 0.5);
    padding: 6px 22px 0px;
    border-radius: 13px;
    margin-bottom: 10px;
}
